:local {
  .popup-header {
    align-self: center;
    background: #1c1f21;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .popup-title {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
    text-align: left;
  }

  .close-icon {
    color: #fff;
    fill: #fff;
    font-size: 16px;
    height: 16px;
    width: 16px;
  }

  .close-button {
    background-color: Transparent;
    border: 0;
    cursor: pointer;
    padding-bottom: 7px;
    padding-right: 15px;
    padding-top: 7px;
    text-align: right;
    vertical-align: bottom;
  }

  .close-button-alignment {
    text-align: right;
  }
}
