:local {
  .popup-header {
    align-self: center;
    background: var(--terra-consumer--popup-header-background, #64696c);
    display: inline-block;
    padding: 5px 15px;
    text-align: center;
    vertical-align: middle;
    width: 100%;
  }

  .popup-title {
    color: var(--terra-consumer--popup-title-color, #fff);
    font-size: 20px;
    line-height: 30px;
    text-align: left;
  }

  .close-icon {
    height: 16px;
    width: 16px;
  }

  .close-button {
    background: none;
    border: 0;
    color: var(--terra-consumer--popup-close-button-color, #fff);
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 5px;
    padding-right: 0;
    padding-top: 5px;
    text-align: right;
    vertical-align: bottom;
  }

  .close-button-alignment {
    text-align: right;
  }
}
