@import './variables';

// NOTE: What are we doing with terra-icons?
.topia-icon {
  box-sizing: content-box;
  display: inline-block;
  fill: currentColor;
  height: 1em;
  pointer-events: none;
  stroke: currentColor;
  transform: translateX(0);
  vertical-align: -0.15em;
  width: 1em;
}
