@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,700');
@import './variables';
@import './text_utility';

:local {
  @keyframes fadeIn {
    from {left: -$terra-consumer--nav-container-width;}
    to {left: 0;}
  }

  @keyframes fadeOut {
    from {left: 0;}
    to {left: -$terra-consumer--nav-container-width;}
  }

  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  .nav {
    height: 100%;
    left: 0;
    min-height: 100vh;
    overflow-y: hidden;
    width: $terra-consumer--nav-container-width;

    @media screen and (max-width: $terra-medium-breakpoint) {
      animation: fadeOut 250ms ease-in-out;
      display: none;
    }
  }

  .nav-mobile {
    animation: fadeIn 250ms ease-in-out;
    background: var(--terra-consumer--nav-background--mobile, linear-gradient(#eee, #999));
    display: block;
    height: 100%;
    left: 0;
    min-height: 100vh;
    overflow: hidden;
    position: absolute;
    width: $terra-consumer--nav-container-width;
  }

  .nav-burger {
    background: none;
    border: 0;
    box-shadow: 0;
    color: #000;
    height: 24px;
    left: 0;
    padding: 0;
    position: absolute;
    top: 0;
    visibility: hidden;
    width: 24px;
    @media screen and (max-width: $terra-medium-breakpoint) {
      visibility: visible;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }
}
