@import '../../variables';

:local {
  .burger {
    color: var(--terra-consumer-burger-color, #3d3d3d) !important;
    font-size: 20px !important;

    &:hover,
    &:focus {
      color: var(--terra-consumer-burger-hover-color, #ccc) !important;
    }
  }
}
