@import '../../variables';

:local {
  .burger {
    background: var(--terra-consumer-burger-background, none);
    border: var(--terra-consumer-burger-border, 0);
    box-shadow: var(--terra-consumer-burger-box-shadow, 0);
    color: var(--terra-consumer-burger-color, #fff);

    &:hover,
    &:focus {
      background: var(--terra-consumer-burger-hover-background, none);
      color: var(--terra-consumer-burger-hover-color, #ccc);
      cursor: pointer;
    }
  }
}
