.dex-theme {
  --terra-consumer--modal-close-button-hover-color: #3d3d3d;
  --terra-consumer--popup-close-button-hover-color: #3d3d3d;

  --terra-consumer-profile-link-color: #000;
  --terra-consumer-profile-link-border-top: 3px solid transparent;

  --terra-consumer-burger-hover-color: #3d3d3d;
  --terra-consumer-layout-padding: 20px;

  --terra-consumer-profile-link-border-background: url('https://d320j1w59ws5w0.cloudfront.net/3Q6UT7T_clinic-background.jpg');
  --terra-consumer-body-background-image: url('https://d320j1w59ws5w0.cloudfront.net/3Q6UT7T_clinic-background.jpg');

  --terra-consumer-body-background-color: rgb(155, 218, 241);
  --terra-consumer-nav-background-color: rgba(255, 255, 255, 0.3);
  --terra-consumer-nav-active-link-background: #9BDAF1 url('https://d320j1w59ws5w0.cloudfront.net/3Q6UT7T_clinic-background.jpg');
}
