:local {
  .toggle-header {
    background-color: transparent;
    border: 0;
    color: var(--terra-consumer--toggle-color, #3d3d3d);
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    padding: 0;
    text-align: left;
    text-decoration: none;
    width: 100%;
  }

  .toggler {
    padding: 0;
  }
}
