@import '../../variables';

:local {
  .nav-items-contatiner {
    margin: 20px 25px;
  }

  .nav-item {
    color: var(--terra-consumer--nav-item-color, #3d3d3d);
    display: block;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    @media screen and (max-width: $terra-medium-breakpoint) {
      color: var(--terra-consumer--mobile-nav-item-color, #fff);
    }
  }

  .nav-item-wrapper.nav-item-icon {
    .nav-item-no-icon {
      padding-left: 15px;
    }
  }

  .nav-item-text,
  .nav-item-no-icon {
    display: flex;
  }

  /* stylelint-disable selector-max-compound-selectors, max-nesting-depth */
  .nav-item-wrapper {
    padding-bottom: 20px;

    .nav-item-text {
      padding-left: 20px;
    }

    .nav-item-link {
      &:hover,
      &:focus {
        color: #000;
        text-decoration: underline;
        @media screen and (max-width: $terra-medium-breakpoint) {
          color: #fff;
        }
      }
    }

    .nav-item-wrapper {
      margin-top: 15px;
      padding-bottom: 0;
      padding-left: 35px;

      .nav-item-text {
        padding-left: 10px;
      }
    }
  }

  // colors here need callouts, on the way. using estimated from mockups
  .badge {
    align-self: center;
    background: var(--terra-consumer--badge-background, #fff);
    border-radius: 10px;
    color: var(--terra-consumer--badge-text-color, inherit);
    margin: 0 10px;
    padding: 0 7px;
    @media screen and (max-width: $terra-medium-breakpoint) {
      background: var(--terra-consumer--mobile-badge-background, #aaa);
      color: var(--terra-consumer--mobile-badge-text-color, #fff);
    }
  }

  .active {
    font-weight: 900;

    &::before {
      background: #383f42; // NOTE: should this be theme-able?
      border-radius: 3px;
      content: '';
      height: 20px;
      left: 0;
      position: absolute;
      width: 4px;
      @media screen and (max-width: $terra-medium-breakpoint) {
        background: #fff;
      }
    }
  }
}
