@import '../../variables';

:local {
  .profile {
    background: inherit;
    bottom: 0;
    font-size: 16px;
    height: auto;
    left: 0;
    line-height: 20px;
    padding-bottom: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    position: fixed;
    text-align: left;
    width: $terra-consumer--nav-container-width;
    z-index: 200;

    @media screen and (max-width: $terra-medium-breakpoint) {
      background: var(--terra-consumer--mobile-badge-background, inherit);
      color: var(--terra-consumer--mobile-badge-text-color, #fff);
    }
  }

  .icon {
    height: 16px;
    width: 16px;
  }

  .link {
    background: #fff;
    border: 0;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

  .link-text {
    color: #383f42;
    font-size: 14px;
    line-height: 18px;
  }

  .signout-border {
    border-top: 1px solid #dedfe0;
    margin: 0;
  }
  
  .nav-item-border {
    border-bottom: 0;
    margin: 0;

    @media screen and (max-width: $terra-medium-breakpoint) {
      border-bottom: 1px solid #dedfe0;
      margin: 0;
    }
  }

  .popup-button {
    background-color: Transparent;
    border: 0;
    cursor: pointer;
    font-size: 16px;
    padding: 0;
    text-align: center;
 
    @media screen and (max-width: $terra-medium-breakpoint) {
      background: var(--terra-consumer--mobile-badge-background, inherit);
      color: var(--terra-consumer--mobile-badge-text-color, #fff);
    }
  }

  .profile-text-padding {
    padding-left: 10px;
  }

  .link-text-style {
    padding: 0;
    text-align: left;
    text-decoration: none;
  }
}
