@import '../../variables';

:local {
  .profile {
    background: var(--terra-consumer-profile-link-background);
    background-attachment: fixed;
    background-size: cover;
    bottom: 0;
    position: fixed;
    width: var(--terra-consumer-profile-link-width, 320px);

    @media screen and (max-width: $terra-tiny-breakpoint) {
      width: 100%;
    }
  }

  .link {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #383f42;
    cursor: pointer;
    display: block;
    font-size: 14px;
    line-height: 18px;
    padding: 20px;
    text-align: left;
    text-decoration: none;
    width: 100%;

    &:hover,
    &:focus {
      background: #cfd0d1;
    }
  }

  .signout-border {
    @media screen and (min-width: $terra-medium-breakpoint) {
      border-top: 1px solid #dedfe0;
    }
  }

  .profile-item-border {
    @media screen and (max-width: $terra-medium-breakpoint) {
      border-bottom: 1px solid #dedfe0;
    }
  }

  .toggler-wrapper {
    border-bottom: 1px solid #dedfe0;

    @media screen and (min-width: $terra-medium-breakpoint) {
      border-bottom: 0;
      border-top: 1px solid #dedfe0;
    }

    &:active {
      color: inherit;
    }
  }

  .toggler {
    padding: 0;

    .link {
      padding: 15px 30px;

      &:not(:last-child) {
        border-bottom: 0;
      }
    }
  }

  /* stylelint-disable selector-max-compound-selectors */
  .open {
    .toggler-wrapper,
    .toggler .link {
      background: #f3f3f3;

      &:hover {
        background: #cfd0d1;
      }
    }
  }

  .popup-button {
    background: var(--terra-consumer-popup-button-background, rgba(255, 255, 255, 0.25));
    border: 0;
    border-radius: 0;
    color: var(--terra-consumer-profile-link-color, #3d3d3d);
    cursor: pointer;
    font-size: 16px;
    margin-top: 3px;
    padding: 20px 25px;
    text-align: left;
    width: inherit;

    &:hover,
    &:focus {
      background: rgba(255, 255, 255, 0.4);
      color: var(--terra-consumer-profile-link-color, #3d3d3d);
      text-decoration: underline;
    }
  }

  .avatar {
    padding-right: 10px;
  }

  .link-text-style {
    padding: 0;
    text-align: left;
    text-decoration: none;
  }
}
