:local {
  .modal {
    background: var(--terra-consumer--modal-background, #fff);
    border-radius: 5px;
    display: block;
    left: 10px;
    overflow: auto;
    position: fixed;
    right: 10px;
    top: 60px;
    z-index: 300;
  }

  .modal-header {
    display: inline-block;
    left: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
    width: 100%;
  }

  .modal-title {
    color: var(--terra-consumer--modal-title-color, #fff);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  
  .overlay {
    background-color: var(--terra-consumer--overlay-background, #64696c);
    opacity: 1;
  }

  .close-icon {
    font-size: 16px;
  }
  
  .close-button {
    background: none;
    border: 0;
    color: var(--terra-consumer--modal-close-button-color, #fff);
    cursor: pointer;
    font-size: 16px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 15px;
    top: 5px;

    &:hover {
      color: var(--terra-consumer--modal-close-button-hover-color, #777);
    }
  }

}
