@import '../../variables';

:local {
  .modal {
    background: var(--terra-consumer--modal-background, #fff);
    border-radius: 5px;
    left: 20px;
    max-height: calc(100% - 80px);
    overflow: auto;
    position: absolute;
    right: 20px;
    top: 60px;

    @media screen and (max-width: $terra-tiny-breakpoint - 1) {
      left: 10px;
      max-height: calc(100% - 70px);
      right: 10px;
    }
  }

  .modal-title {
    color: var(--terra-consumer--modal-title-color, #fff);
    font-size: 20px;
    left: 0;
    line-height: 30px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 15px;
  }

  .overlay {
    background-color: var(--terra-consumer--overlay-background, #64696c) !important;
    opacity: 1 !important;
    @media screen and (max-width: $terra-medium-breakpoint - 1) {
      height: 100vh;
      width: 100vw;
    }
  }

  .close-button-container {
    margin: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 0;

    @media screen and (max-width: $terra-tiny-breakpoint - 1) {
      right: 0;
    }
  }

  .close-button {
    color: var(--terra-consumer--modal-close-button-color, #fff) !important;
    font-size: 16px !important;
    margin: 0 !important;
    padding: 0 !important;

    &:hover {
      color: var(--terra-consumer--modal-close-button-hover-color, #777) !important;
      cursor: pointer;
    }

    &:focus {
      color: var(--terra-consumer--modal-close-button-hover-color, #777) !important;
    }
  }
}
