@import '../../src/variables';

:local {
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  .layout {
    background: linear-gradient(#ddd, #999);
    display: flex;
    font-size: 14px;
    height: 100vh;
    left: 0;
    max-width: 100vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100vw;
  }

  .main-container {
    height: 100vh;
    left: $terra-consumer--nav-container-width;
    max-width: calc(100vw - #{$terra-consumer--nav-container-width});
    overflow: scroll;
    position: absolute;
    text-align: left;
    top: 0;
    width: calc(100vw - #{$terra-consumer--nav-container-width});
    @media screen and (max-width: $terra-medium-breakpoint) {
      left: 20px;
      max-width: 100vw;
      width: 100vw;
    }
  }

  .nav-burger {
    background: none;
    border: 0;
    box-shadow: 0;
    color: #000;
    font-size: 24px;
    left: 0;
    padding: 0;
    top: 0;
    visibility: hidden;
    @media screen and (max-width: $terra-medium-breakpoint) {
      visibility: visible;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

  .footer {
    bottom: 15px;
    margin: 0;
    padding: 0;
    position: sticky;
    width: 100%;
  }
  
  .help-button {
    margin: 0;
    padding-right: 15px;
    padding-top: 20px;
    text-align: right;
  }
}

