@import '../../src/variables';

:local {
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
  }

  .layout {
    background: #eee;
    display: flex;
    max-height: 100vh;
    max-width: 100vw;
    overflow: hidden;
  }

  .nav-container {
    color: #000;
    max-width: $terra-consumer--nav-container-width;
    padding-top: 30px;
    z-index: 200;

    @media (max-width: $terra-medium-breakpoint) {
      padding-top: 0;
    }
  }

  .main-container {
    bottom: 0;
    left: $terra-consumer--nav-container-width;
    max-height: 100vh;
    overflow: auto;
    padding-right: 20px;
    position: absolute;
    top: 5px;
    width: calc(100vw - #{$terra-consumer--nav-container-width});
    @media (max-width: $terra-medium-breakpoint) {
      left: 0;
      padding-left: 20px;
      width: 100%;
    }
  }

  .nav-burger {
    background: none;
    border: 0;
    box-shadow: 0;
    color: #000;
    font-size: 20px;
    left: 0;
    padding: 0;
    visibility: hidden;
    @media screen and (max-width: $terra-medium-breakpoint) {
      margin-right: 10px;
      visibility: visible;
    }

    &:hover {
      background: #eee;
      cursor: pointer;
    }
  }

  .help-button {
    margin: 15px 0;
    text-align: right;

    @media screen and (min-width: $terra-medium-breakpoint) {
      bottom: 0;
      position: fixed;
      right: 15px;
    }
  }
}
