@import '../../variables';

:local {
  .quicklinks-container {
    margin: 0 25px;
  }

  .quicklink {
    background: var(--terra-consumer--quicklink-background, rgba(255, 255, 255, 0.9));
    border: 0;
    border-radius: 3px;
    color: var(--terra-consumer--quicklink-color, #3d3d3d);
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    line-height: 35px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: var(--terra-consumer--quicklink-background-hover, #eee);
      cursor: pointer;
    }

    @media screen and (max-width: $terra-medium-breakpoint) {
      display: none;
    }
  }

  .quicklink-icon {
    padding-right: 5px;
  }
}
