@import '../../variables';

:local {
  .help-button {
    background: var(--terra-consumer--help-button-background, #fff);
    border-radius: 20px;
    bottom: 15px;
    box-shadow: 0 1px 1px #666;
    padding: 10px;
    position: absolute;
    right: 15px;
    z-index: 200;
    @media screen and (max-width: $terra-medium-breakpoint) {
      display: none;
    }
  }
}
