@import '../../variables';

:local {
  .logo-container {
    margin: 0 25px 30px;
    max-height: 170px;
    max-width: calc(100% - 50px});
    overflow: hidden;
    text-align: center;
    @media screen and (max-width: $terra-medium-breakpoint) {
      margin: 40px 25px;
    }
  }

  .img {
    color: var(--terra-consumer-logo-text-color, #3d3d3d);
    display: inline-block;
    font-size: 30px;
    font-weight: normal;
    margin: auto;
    max-height: 120px;
    max-width: 100%;
  }
}
