@import '../../variables';

:local {
  .logo-container {
    margin: 0 25px 30px;
    max-height: 170px;
    max-width: calc(100% - 50px});
    @media screen and (max-width: $terra-medium-breakpoint) {
      margin: 40px 25px;
      max-height: 120px;
    }
  }

  .img {
    display: block;
    margin: auto;
  }
}
