:local {
  .popup-title {
    background: var(--terra-consumer-popup-title-background, #64696c);
    color: var(--terra-consumer-popup-title-color, #fff);
    font-size: 20px;
    line-height: 30px;
    padding: 5px 10px;
    width: 100%;
  }

  .close-button {
    background: none;
    border: 0;
    color: var(--terra-consumer-popup-close-button-color, #fff);
    float: right;
    font-size: 16px;
    margin: 0;
    padding: 0;
    padding-top: 3px;

    &:hover {
      background: none;
      color: var(--terra-consumer-popup-close-button-hover-color, #ccc);
      cursor: pointer;
    }

    &:focus {
      background: none;
      color: var(--terra-consumer-popup-close-button-focus-color, #777);
    }
  }

  .popup-body {
    height: 200px;
    overflow: scroll;
  }
}
