:local {
  .popup-title {
    background: var(--terra-consumer--popup-title-background, #64696c);
    color: var(--terra-consumer--popup-title-color, #fff);
    font-size: 20px;
    line-height: 30px;
    padding: 5px 10px;
    width: 100%;
  }

  .close-button-container {
    border: 0;

  }

  .close-button {
    color: var(--terra-consumer--popup-close-button-color, #fff) !important;
    float: right !important;
    font-size: 16px;
    margin: 0 !important;
    padding: 0 !important;

    &:hover {
      color: var(--terra-consumer--popup-close-button-hover-color, #ccc) !important;
    }

    &:focus {
      color: var(--terra-consumer--popup-close-button-hover-color, #777) !important;
    }
  }

  .popup-body {
    height: 200px;
    overflow: scroll;
  }
}
