@import '../../variables';

:local {
  .nav-help {
    background-color: var(--terra-consumer--nav-help-button-background, #fff);
    border: 0;
    border-radius: 20px;
    box-shadow: 0 1px 1px #666;
    color: var(--terra-consumer--nav-help-button-color, #3d3d3d);
    display: inline-block;
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    padding: 6px 13px;

    &:hover {
      background: var(--terra-consumer--nav-help-button-hover-background, #eee);
      cursor: pointer;
    }

    &:focus {
      background: var(--terra-consumer--nav-help-button-focus-background, #eee);
    }

    &:active {
      color: inherit;
    }
  }

  .help-item {
    background: var(--terra-consumer--nav-help-item-background, #fff);
    border: 0;
    border-bottom: 1px solid var(--terra-consumer--nav-help-item-border-color, #dedfe0);
    border-radius: 0;
    display: block;
    font-family: inherit;
    padding: 20px;
    text-decoration: none;
    width: 100%;

    &:hover {
      background: var(--terra-consumer--nav-help-item-hover-background, #eee);
      cursor: pointer;
    }

    &:focus {
      background: var(--terra-consumer--nav-help-item-focus-background, #eee);
    }
  }

  .help-item-text {
    color: var(--terra-consumer--nav-help-item-text-color, #383f42);
    font-size: 14px;
    line-height: 18px;
    text-align: left;
  }

  .help-subitem {
    color: var(--terra-consumer--nav-help-subitem-text-color, #64696c);
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
  }

  .icon-text-padding {
    padding-right: 10px;
  }

  .toggler-padding {
    padding: 0 !important;
  }

  .toggler-content-alignment {
    padding-right: 20px;
    padding-top: 20px;
    text-align: left;
  }

  .button-text-padding {
    padding-left: 6px;
  }

  .link-text-style {
    text-decoration: none;
  }

  .popup-content {
    border-radius: 5px;
    box-shadow: 0 1px 1px #666;
    margin: 0 15px 15px 0;
    overflow: hidden !important;
    position: relative;
  }
}
