:local {
  .popup-title {
    background: var(--terra-consumer--popup-title-background, #64696c);
    color: var(--terra-consumer--popup-title-color, #fff);
    font-size: 16px;
    line-height: 30px;
    width: 100%;
  }

  .close-button-container {
    border: 0;
  }

  .close-button {
    color: var(--terra-consumer--popup-close-button-color, #fff) !important;

    &:hover {
      color: var(--terra-consumer--popup-close-button-hover-color, #ccc) !important;
    }

    &:focus {
      color: var(--terra-consumer--popup-close-button-hover-color, #777) !important;
    }
  }
}
