@import '../../variables';

:local {
	.nav-help {
      background-color: white;
      font-size: 16px;
      line-height: 20px;
      border-radius: 20px;
      bottom: 15px;
      box-shadow: 0 1px 1px #666;
      padding-top: 6px;
      padding-bottom: 6px;
      padding-left: 13px;
      padding-right: 13px;
      position: absolute;
      right: 15px;
      align-self: center;
      text-align: center;
      vertical-align:middle;
      z-index: 200;
      @media screen and (max-width: $terra-medium-breakpoint) {
      display: none;
      }
    }
    
  .help-icon {
      height: 16px;
      width: 16px;
  }
  

  .nav-help-item {
      font-size: 14px;
      line-height: 18px;
      color:#383F42;
      padding: 20px;
      text-decoration: none;
  }
  
  .nav-help-subitem {
      font-size: 14px;
      line-height: 18px;
      color: #64696C;
      padding-left: 0px;
      padding-top: 20px;
      text-decoration: none;

  }

  .divider-top {
      border-top: 1px solid #dedfe0;
      margin: 0;
      padding: 0;
  }

  .help-modal-large {
      background: #fff;
      border-radius: 5px;
      display: block;
      bottom: 20px;
      overflow: auto;
      position: fixed;
      right: 20px;
      width: 300px;
      z-index: 400;
  }
  
  .help-modal-mobile {
      background: #fff;
      border-radius: 5px;
      display: block;
      left: 10px;
      overflow: auto;
      position: fixed;
      right: 10px;
      top: 60px;
      z-index: 400;
    }

  .help-modal-header-large {
      padding-top: 5px;
      padding-bottom: 5px;
      align-self: center;
      background: #1c1f21;
  }

  .help-modal-header-mobile {
      top: 0px;
      position: absolute;
      padding-top: 15px;
      padding-bottom: 15px;
      align-self: center;
  }

  .help-modal-title {
      font-size: 20px;
      line-height: 30px;
      color: #fff;
  }

  .modal-close-icon {
      height: 16px;
      width: 16px;
      fill: #fff;
  }

  .modal-close-button-large {
      background-color: Transparent;
      border: none;
      cursor:pointer; 
  }

  .modal-close-button-mobile {
      background-color: Transparent;
      border: none;
      cursor:pointer; 
      right: 20px;
      top: 20px;
      position: fixed;  
    }

}